{% extends "auth_base.html"%} {% block start %}
<div class="continer">
	<form class="form" method="post" id="form">
		{% csrf_token %}
		<h4>Forget Password</h4>

		{% if messages %} {% for message in messages %}
		<div class="alert alert-info">{{ message }}</div>
		{% endfor %} {% endif %}

		<div class="form-group">
			<label for="password">Email</label>
			<input type="email" name="email" class="form-control" required />
		</div>
		<a href="{% url 'login' %}">Login</a>
		<button class="btn btn-success mt-3" type="submit">Submit</button>
	</form>
</div>

{% endblock %}
